.top {
	height: 35px;
	background-color: #D8D8D8;
	font-weight: 200;
	font-size: 14px;
	position: relative;
}

.wrap_top {
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}

.wrap_top ul li {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 5px;
}

.top_ul1 li {
	float: left;
	padding-right: 30px;
}

.top_ul2 li {
	float: right;
	padding-left: 30px;
}

.top_ul1 li a {
	text-decoration: none;
	color: #000;
}

.top_ul2 li a {
	text-decoration: none;
	color: #000;
}

.wrapper {
	width: 1100px;
	margin: 0 auto;
}